# Have the repository contain only the scripts

# Ignore everything
*

# Do not ignore .gitignore file
!.gitignore

# Do not ignore requirements file
!requirements.txt

# Do not ignore Python script files in the root directory
!*.py
!README.md

# Ignore install FreeSurfer script
install FreeSurfer.py

# Ignore compute_functional_connectivity_test script
compute_functional_connectivity_test.py
