# Have the repository contain only the scripts

# Ignore everything
*

# Do not ignore .gitignore file
!.gitignore

# Do not ignore Python script files in the root directory
!*.py
!README.md

# Specifically ignore NIfTI files (just as a safety so no data goes on)
*.nii
*.nii.gz